.toggle{
  padding: 24px 0;
  max-width: 800px;
  margin: 0 auto;
}
.toggle_contents{
  padding-bottom: 16px;
}

.q{
  display: inline-block;
  width: 24px;
  font-weight: bold; 
  margin-right: 8px;
}

.a{
  display: inline-block;
  width: 24px;
  font-weight: bold; 
  margin-right: 8px;
}

.toggle_title {
	position: relative;
	padding: 12px 48px 12px 12px;
	cursor: pointer;
  background: $color-sub;
  color: #fff;
  display: flex;
}

dd{
  padding: 12px;
  display: flex;
  background: $color-accent;
}

.toggle_btn {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	display: block;
	width: 24px;
	height: 24px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 50%;
}
.toggle_btn:before, .toggle_btn:after {
	display: block;
	content: '';
	background-color: #fff;
	position: absolute;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.toggle_btn:before {
	width: 2px;
	height: 10px;
}
.toggle_title.selected .toggle_btn:before {
	content: normal;
}
.toggle_contents dd {
	display: none;
}