.inner{
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

$container_size: 960px;

$pc: $container_size;

$mq_pc: 'screen and (min-width: #{$container_size})';
$mq_tab: 'screen and (min-width: 769px)';
$mq_sp: 'screen and (max-width: 768px)';

$mq_sp-tab: 'screen and (max-width: 960px)';



.section{
  padding: 60px 0;
}

@media #{$mq_pc}{
  .section{
    padding: 120px 0 120px;
  }

  /* 背景なしsectionが連続する場合は、padding-topを0にする */
  .section:not(.bg-color-accent) + .section:not(.bg-color-accent){
    padding-top: 0;
  }
}

/* 下層ページの先頭のpadding-topを調整する */
.header + .section:not(.bg-color-accent){
  padding-top: 24px;
}

@media #{$mq_tab}{
  .header + .section:not(.bg-color-accent){
    padding-top: 48px;
  }
}

.-center{
  text-align: center;
}

@media #{$mq_sp}{
  .-sp-center{
    text-align: center;
  }
}

.sp-only{
  display: none;
}

@media #{$mq_sp-tab}{
  .sp-only{
    display: block;
  }

  .-ptnone{
    padding-top: 0;
  }
}

