.table__wrapper{
  margin-top: 24px;
}

.table{
  border-collapse: collapse;

  tr{
      border-bottom: 1px solid #eaeaea;
    }

    th{
      text-align: left;
      width: 200px;
    }
}

@media #{$mq_sp}{
  .table{
  
    th{
      display: block;
      padding-top: 16px;
    }

    td{
      display: block;
      padding-bottom: 8px;
    }
  }
}

@media #{$mq_tab}{
  .table{
    margin: 0 auto;

    th{
      padding: 24px;
      border-bottom: 1px solid $color-sub;
    }

    td{
      padding: 24px;
    }
  }
}

@media #{$mq_tab}{
  .-white{
    background: #fff;
    padding: 24px 0 68px;
  }
}

.table-ttl{
  position: relative;
  padding-left: 16px;
  font-size: 1.1rem;
  text-align: left;
  font-weight: bold;

  &:before{
    content: "";
    background: $color-main;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    padding-right: 8px;
    margin-right: 8px;
  }

  span{
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.table-ttl-sub{
  &:before{
    background: $color-sub;
  }
}


