.table-contact{
  width: 100%;
  padding-top: 24px;
  border-bottom: 1px dashed #e5e5e5;  

  tr{
    border-top: 1px dashed #e5e5e5;
    height: auto;
  }

  th{
    text-align: left;
  }

  td{
    padding: 20px 0;
  }

  input, textarea{
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #aaaaaa;
  }
}

@media #{$mq_sp-tab}{
  .table-contact{
  width: 100%;
  padding-top: 24px;
  border-bottom: 1px dashed #e5e5e5;  

  tr{
    border-top: 1px dashed #e5e5e5;
    height: auto;
  }

  th{
    display: block;
    text-align: left;
    padding-top: 20px;
  }

  td{
    display: block;
    padding: 10px 0 20px;
  }

  input, textarea{
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #aaaaaa;
  }
}
}

.input-field{
 
  label{
    margin: 5px 0;
    display: block;

  }
}

@media #{$mq_pc}{
  .td__flex{
    display: flex;
    justify-content: space-between;

    .input-field{
      width: 49%;
    }
  }
}

.require {
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
  background: $color-sub;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
}

.privacy-box{
  margin: 50px 0 8px;
  padding: 20px;
  border: 1px solid #aaaaaa;
}

@media #{$mq_pc}{
  .privacy-box{
    margin: 80px 0 40px;
    padding: 40px;
    border: 1px solid #aaaaaa;
  }
}

.privacy-box__check{
  margin-top: 20px;
  text-align: center;

  span{
    position: relative;
    display: inline-block;
    margin-right: 8px;
    padding-left: 28px; 

    &:before{
      position: absolute;
      top: 4px;
      left: 0;
      content: "";
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      background: #fff;
    }
  }
}

@media #{$mq_pc}{
  .privacy-box__check{
    margin-top: 50px;
  }
}

input[type="checkbox"]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid $color-main;
  border-right: 3px solid $color-main;
  transform: rotate(45deg);
}

.btn:disabled{
  opacity: 0.6;
}