body{
  font-family: 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  color: #333;
  line-height: 1.7;
}



.section-ttl{
  line-height: 1.5;
  font-size: 20px;

  span{
    display: block;
    color: $color-sub;
    font-family: 'futura';
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: .3em;
  }
}

.section-ttl__sub{
  padding-top: 16px;
}

@media #{$mq_pc}{
  .section-ttl__sub{
    text-align: center;
  }
}
