.grid__img{
  padding-top: 16px;
}

.grid__txts{
  padding-top: 16px;
}

.grid__txt:not(:last-child){
  padding-bottom: 8px;
}

.grid__lists{
  padding: 40px 0 32px;

  li{
    border-bottom: 1px solid #e5e5e5;
    padding-top: 8px;
  }
}

.number{
  color: $color-main;
  font-weight: bold;
  padding-right: 12px;
  font-size: 1.1rem;
}

@media #{$mq_sp}{
  .grid{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .grid__content{
    display: contents;
  }

  .grid__content .section-ttl{
    order: -1;
  }
}

@media #{$mq_tab}{
  .grid{
    display: flex;
    justify-content: space-between;
  }

  .grid__img{
    width: 48%;
  }

  .grid__content{
    width: 45%;
    padding: 24px;
  }

  .-reverse{
    flex-direction: row-reverse;
  }
}

@media #{$mq_pc}{

  .grid__lists{
    li{
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
  }
}