.mv{
  padding-bottom: 60px;
}

.mv__ttl{
  font-size: 1.5rem;
  color: $color-main;
  line-height: 1.65;
}

.mv__txts{
  padding: 40px 6% 0;
}

.mv__lead{
  padding-top: 16px;
}

@media #{$mq_tab}{
  .mv__ttl{
  font-size: 1.5rem;
  color: $color-main;
  line-height: 1.65;
}
}

@media #{$mq_tab}{
  .mv{
    height: 600px;
    position: relative;
    flex-direction: row;
    display: flex;
  }

  .mv__txts{
  
    width: 50%;
  }

  .mv__img{
    width: 80%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .mv__txts{
    padding-top: 60px;
    z-index: 1;
    flex-basis: 60%;
  }
}

@media #{$mq_pc}{
  .mv{
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
  }

  .mv__ttl{
    font-size: 2.25rem;
  }

  .mv__lead{
    width: 60%;
  }

  .mv__img{
    
    img{
      max-height: 640px;
    }
    
  }
}